.chaptersGrid {
  padding: 3rem;
}

.gridTitle {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: var(--ifm-heading-color);
}

.gridSubtitle {
  text-align: center;
  font-size: 1.2rem;
  color: var(--ifm-font-color-secondary);
  max-width: 800px;
  margin: 0 auto 3rem;
  line-height: 1.6;
}

.partTitle {
  margin: 2rem 0 1.5rem 0;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--ifm-color-primary-lighter);
  color: var(--ifm-color-primary);
  font-size: 1.5rem;
}

@media screen and (max-width: 996px) {
  .gridSubtitle {
    padding: 0 1rem;
  }
  
  .partTitle {
    font-size: 1.3rem;
  }
}